{% assign page_nb   = page_nb   | plus:  0 %}
{% assign plus_one  = page_nb   | plus:  1 %}
{% assign minus_one = page_nb   | minus: 1 %}
{% assign last_page = last_page | plus:  0 %}

{% if page_nb == last_page %}
	<div class="hcenter">
		<a class ="shs active_arrow" href="/cards/{{minus_one}}"><</a>
		{% capture page_nb   %} {{ page_nb   }} {% endcapture %}
		{% capture last_page %} {{ last_page }} {% endcapture %}
		{% include dropdown.html %}
		<a class ="shs disabled_arrow">></a>
	</div>

{% elsif page_nb == 0 %}
	<div class="hcenter">
		<a class ="shs disabled_arrow"><</a>
		{% capture page_nb   %} {{ page_nb   }} {% endcapture %}
		{% capture last_page %} {{ last_page }} {% endcapture %}
		{% include dropdown.html %}
		<a class ="shs active_arrow" href="/cards/{{plus_one}}">></a>
	</div>

{% elsif page_nb == 1 %}
	<div class="hcenter">
		<a class ="shs active_arrow" href="/"><</a>
		{% capture page_nb   %} {{ page_nb   }} {% endcapture %}
		{% capture last_page %} {{ last_page }} {% endcapture %}
		{% include dropdown.html %}
		<a class ="shs active_arrow" href="/cards/{{plus_one}}">></a>
	</div>

{% else %}
	<div class="hcenter">
		<a class ="shs active_arrow" href="/cards/{{minus_one}}"><</a>
		{% capture page_nb   %} {{ page_nb   }} {% endcapture %}
		{% capture last_page %} {{ last_page }} {% endcapture %}
		{% include dropdown.html %}
		<a class ="shs active_arrow" href="/cards/{{plus_one}}">></a>
	</div>
{% endif %}
