<div class="card svs shs">
    <div class="card_header"> 
		<div class="card_title">{{card_vid_name}}</div> 
	</div>

	<div class="card_body" style="position: relative;" onclick="open_gallery_vid('{{ card_vid_src }}')">
        <svg class="card_video_svg">
            <circle cx="50" cy="50" fill="#000" fill-opacity=".7" r="24"></circle>
            <polygon points="46,43 46,57 60,50" fill="#eee" stroke="#eee" stroke-width="3" stroke-linejoin="round"></polygon>
        </svg>
		<video class="card_video" poster={{card_vid_src}} preload=metadata>
			<source src="{{card_vid_src}}" type="video/mp4">
		</video>
	</div>
</div> 
