<!-- GLOBAL VARIABLES -->
{% assign cards          = site.static_files | where: 'is_card', true | reverse %}
{% assign cards_total    = cards.size %}
{% assign cards_per_page = 30 %}
{% assign last_page      = cards_total | divided_by: cards_per_page %}

<!-- PAGE VARIABLES -->
{% assign first_card_idx = page_nb | times: cards_per_page  %}
{% assign last_card_idx  = page_nb | plus: 1 | times: cards_per_page | minus: 1  %}


{% capture page_nb   %} {{ page_nb   }} {% endcapture %}
{% capture last_page %} {{ last_page }} {% endcapture %}
{% include breadcrumb.html %}

<hr/>

<div class="hcenter cards_container">

	{% for i in ( first_card_idx .. last_card_idx ) %}
		{% assign card = cards[i] %}
		{% assign ext  = card.extname %}

		{% if ext == ".png" or ext == ".jpg" or ext == ".gif" %}
			{% capture card_img_src  %} {{ card.path | prepend: site.baseurl }} {% endcapture %}
			{% capture card_img_name %} {{ card.basename                     }} {% endcapture %}
			{% include card_image.html %}

		{% elsif ext == ".mp4" %}
			{% capture card_vid_src  %} {{ card.path | prepend: site.baseurl }} {% endcapture %}
			{% capture card_vid_name %} {{ card.basename                     }} {% endcapture %}
			{% include card_video.html %}
		{% endif %}
	{% endfor %}

</div>

<hr/>

{% capture page_nb   %} {{ page_nb   }} {% endcapture %}
{% capture last_page %} {{ last_page }} {% endcapture %}
{% include breadcrumb.html %}

<div class="hcenter vcenter" id="gallery_img_modal" onclick="close_gallery_img()">
	<div class="hcenter vcenter shs svs" id="gallery_img_div">
		<img id="gallery_img_img">
	</div>
</div>

<div class="hcenter vcenter" id="gallery_vid_modal" onclick="close_gallery_vid()">
	<div class="hcenter vcenter shs svs" id="gallery_vid_div" >
        <video id="gallery_vid_video" poster="" preload="metadata" controls>
			<source id="gallery_vid_source" src="" type="video/mp4">
		</video>
	</div>
</div>

<script type="text/javascript" src="../assets/js/gallery.js"></script>
