{% assign trim_size = game_name | size | minus: 6 %}
{% assign trimmed   = game_name | slice: 0, trim_size %}

<p class="hcenter"> {{ trimmed }} </p>

<hr/>

<div class="canvas_container">
	<canvas id="loading_canvas" oncontextmenu="event.preventDefault()" width=600 height=300></canvas>
	<canvas id="canvas"         oncontextmenu="event.preventDefault()"></canvas>
</div>

<hr/>

<button id="fullscreen_button" onclick="go_full_screen();"> Fullscreen</button>

<script       type="text/javascript" src="../assets/js/game.js" PACKAGE_NAME="{{ game_name }}" ></script>
<script async type="text/javascript" src="../assets/js/love.js" onload="Love(Module)"></script>
