$breakpoint-desktop: "only screen and (min-width : 1200px)";
$breakpoint-laptop : "only screen and (max-width : 1200px)";
$breakpoint-mobile : "only screen and (max-width : 800px)";

* {
	font-family: 'Courier New', Courier, monospace;
	color: white;
}

body {
	background-color: rgb(0, 0, 0);
	background-image: url(/assets/img/glitch.gif);
}

.dropdown_select {
	background: rgb(0, 0, 0);
	border    : white solid 1px;
	color     : white;
}

.disabled_arrow {
	color: grey;
}

.active_arrow {
	color: white;
}

.cards_container {
	display              : grid;
	grid-template-columns: repeat(3, auto);

	@media #{$breakpoint-laptop} {
		grid-template-columns: repeat(2, auto);
	}
	@media #{$breakpoint-mobile} {
		grid-template-columns: repeat(1, auto);
	}
}

.card {
	position  : relative;
	width     : 300px; 
	height    : 300px;
	min-width : 300px; 
	min-height: 300px;
}

.card_header {
	background: rgba(64,9,33,1);
	position  : absolute;
	width     : inherit;
	height    : 30px;
}

.card_body {
	background: rgb(0, 0, 0); 
	display   : flex;
	position  : absolute;
	width     : inherit;
	height    : 270px;
	top       : 30px;
	cursor    : pointer;
}

.card_img {
	max-width : 100%; 
	max-height: 100%;
	margin    : auto;
}

.card_video_svg {
    position: absolute; 
    right   : 0; 
    left    : 0; 
    top     : 0; 
    bottom  : 0; 
    margin  : auto;
    width   : 100px; 
    height  : 100px; 
}

.card_video {
	width         : 100%; 
	height        : 100%;
	background    : inherit;
    pointer-events: none;
}

.card_title {
	background  : transparent; 
	padding-left: 10px; 
	padding-top : 5px;
	color       : white;   
	font-size   : large;
}

.canvas_container {
	display: flex;
	justify-content: center;
}

#canvas {
	padding-right: 0;
	border       : 0px none;
	display      : none;
}

#loading_canvas {
	display: display;
}

#fullscreen_button {
	color:black
}

#gallery_img_modal {
	background-color: rgba(10,10,10,0.85);

	position: fixed;
	top     : 0;
	left    : 0;
	width   : 100%;
	height  : 100%;
	
	transition        : 0.3s ease;
	visibility        : hidden;
	opacity           : 0;

	&.visible {
		visibility: visible;
		opacity: 1;
	}
}

#gallery_img_div {
    width: 100%;
    height: 100%;
}

#gallery_img_img {
	max-width : 95%;
	max-height: 95%;
}

#gallery_vid_modal {
	background-color: rgba(10,10,10,0.85);

	position: fixed;
	top     : 0;
	left    : 0;
	width   : 100%;
	height  : 100%;
	
	transition        : 0.3s ease;
	visibility        : hidden;
	opacity           : 0;

	&.visible {
		visibility: visible;
		opacity: 1;
	}
}

#gallery_vid_div {
    width: 100%;
    height: 100%;
}

#gallery_vid_video {
	max-width : 95%;
	max-height: 95%;
}
